<table>
  <tr>
    <th>
      <h2>Edit <%= @members.format_name %></h2>
    </th>
  </tr>
  <form method="POST" action="/members/<%= @members.id %>/edit_deactive">

    <tr>
      <td>
        <label for="first_name">First Name:</label>
      </td>
      <td><input type="text"
        name="first_name"
        id="first_name"
        value="<%= @members.first_name %>"//>
      </td>
    </tr>
    <tr>
      <td>
        <label for="last_name">Last Name:</label>
      </td>
      <td><input type="text"
        name="last_name"
        id="last_name"
        value="<%= @members.last_name %>"/>
      </td>
    </tr>
    <tr>
      <td>

        <label for="date_of_birth">Date Of Birth:</label>
      </td>
      <td>
        <input type="date"
        name="date_of_birth"
        id="date_of_birth"
        value="<%= @members.date_of_birth %>"/>
      </td>
    </tr>
    <tr>
      <td>
        <label for="membership_select">Select Membership:</label>
      </td>
      <td>
        <select name="membership_type"
        id="membership_select"
        value="<%= @members.membership_type %>">
          <option value="Peak">Peak</option>
          <option value="Off-Peak">Off-Peak</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <label for="membership_status_select">Membership Status:</label>
      </td>
      <td>
        <select name="membership_status"
        id="membership_status_select"
        value="<%= @members.membership_status %>">
          <option value="Active">Active</option>
          <option value="Deactivated">Deactivated</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <input type='submit' value="Edit">
      </td>
      <td></td>
    </tr>

  </form>
</table>
