<h2>Edit <%= @members.format_name %></h2>

<form method="POST" action="/members/<%= @members.id %>">

    <div class>
      <label for="first_name">First Name:</label>
      <input type="text"
        name="first_name"
        id="first_name"
        value="<%= @members.first_name %>"/>
    </div>

    <div class>
      <label for="last_name">Last Name:</label>
      <input type="text"
        name="last_name"
        id="last_name"
        value="<%= @members.last_name %>"/>
    </div>

    <div class>
      <label for="date_of_birth">Date Of Birth:</label>
      <input type="date"
        name="date_of_birth"
        id="date_of_birth"
        value="<%= @members.date_of_birth %>"/>
    </div>

    <div class>
      <label for="membership_select">Select Membership:</label>
      <select name="membership_type"
      id="membership_select"
      value="<%= @members.membership_type %>">
            <option value="Peak">Peak</option>
            <option value="Off-Peak">Off-Peak</option>
      </select>
    </div>

  <input class type='submit' value="edit">
</form>
