<h2>Members</h2>
<a href="/members/new">
  <input class="btn" type="submit" value="create">
</a>
<br>
<br>

<table>
  <tr>
    <th>
      <h3>Active Members</h3>
    </th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Date Of Birth</th>
    <th></th>
    <th>Membership Type</th>
    <th></th>
  </tr>
  <% for member in @members %>
  <% if member.membership_status == "Active" %>
    <tr>
      <td>
        <a class= "link" href="/members/<%= member.id %>"><%= member.format_name %></a>
      </td>
      <td>|</td>
      <td><%= member.date_of_birth.strftime("%d/%m/%Y") %></td>
      <td>|</td>
      <td><%= member.membership_type %></td>
      <td>|</td>
      <td>
      </td>
      <td>
        <form action="/members/<%= member.id %>/deactivate" method="POST">
          <input class="btn" type="submit" value="Deactivate">
        </form>
      </td>
      <td>
        <form action="/members/<%= member.id %>/edit" method="get">
          <input class="btn" type="submit" value="Edit">
        </form>
      </td>
      <td>
        <form action="/members/<%= member.id %>/delete" method="POST">
          <input class="btn" type="submit" value="Delete">
        </form>
      </td>
    </tr>
  <% end %>
  <% end %>
</table>


<br>
<br>
<table>
  <tr>
    <th><h3>Deactived Members</h3></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Date Of Birth</th>
    <th></th>
    <th>Membership Type</th>
    <th></th>
  </tr>
  <% for member in @members %>
  <% if member.membership_status == "Deactivated" %>
    <tr>
      <td>
        <a href="/members/<%= member.id %>"><%= member.format_name %></a>
      </td>
      <td>|</td>
      <td><%= member.date_of_birth %></td>
      <td>|</td>
      <td><%= member.membership_type %></td>
      <td>|</td>


      <td>
        <form action="/members/<%= member.id %>/activate" method="POST">
          <input class="btn" type="submit" value="activate">
        </form>
      </td>
      <td>
        <form action="/members/<%= member.id %>/edit_deactive" method="get">
          <input class="btn" type="submit" value="edit">
        </a>
      </td>
      <td>
        <form action="/members/<%= member.id %>/delete" metdod="POST">
          <input class="btn" type="submit" value="delete">
        </form>
      </td>
      <td></td>
    </tr>
  <% end %>
  <% end %>
