<h2>Member Details:</h2>
  <p>Member Name: <%= @members.format_name %></p>

<p>Date of Birth:
  <%= @members.date_of_birth.strftime("%d/%m/%Y") %></p>

<p>Membership Type:<%= @members.membership_type %></p>

<% if @members.groupexercise.count == 0 %>
<% else %>
  <table>
    <tr>

    <th>
  <h3>Registered Classes:</h3>
  </th>
</tr>
    <tr>
      <th>Class Name</th>
      <th>|</th>
      <th>Time</th>
    </tr>
    <tr>
      <% @members.groupexercise.each do |classes| %>
        <tr>
          <td><%= classes.name %></td>
          <td>|</td>
          <td><%= classes.start_time %></td>
          <td>|</td>
          <td>
            <form action="/bookings/<%= classes.find_booking_id %>/delete_in_members" method="POST">
              <input type="submit" value="remove">
            </form>
          </td>
        </tr>
      <% end %>
    </tr>
  </table>
<% end %>

<table>
  <tr>

  <th><h3>Personal Trainer Schedule:</h3></th>

</tr>
  <tr>
    <td><form action="/schedules/<%= @members.id %>/new" method="get">
      <input type="submit" value="Schedule a personal trainer"></input>
    </form></td>

    </tr>


    <% if @members.instructors.count == 0 %>
    <% else %>

      <% @members.instructors.each do |instructor| %>
      <tr>

        <th><%= instructor.format_name %></th>
      </tr>
        <% if instructor.schedules.count == 0 %>
        <% else %>
        <% instructor.schedules.each do |schedule| %>
        <tr>
          <td><%= schedule.meeting_time%></td>
          <td>
            <form action="/schedules/<%= schedule.id %>/delete" method="POST">
              <input type="submit" value="remove">
            </form>
          </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
</table>
