<h2>Classes</h2>
<a href="/groupexercises/new">
  <input type="submit" value="create">
</a>
<table>
  <tr>
    <% current_date = Date.today.strftime("%d/%m/%Y") %>
    <th><h3><%= current_date %></h3></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Instructor</th>
    <th></th>
    <th>Start Time</th>
    <th></th>
    <th>Price</th>
    <th></th>
    <th>Capacity</th>
    <th></th>
    <th>Number Booked</th>
    <th></th>
    <th>Membership Needed</th>
  </tr>
  <% for group in @group %>
  <% if group.set_date.strftime("%d/%m/%Y") == current_date  %>
  <tr>
    <td><a class= "link" href="/groupexercises/<%= group.id %>"><%= group.name %></a></td>
    <td>|</td>
    <td><a class= "link" href="/instructors/<%= group.instructor_id %>"><%=group.instructor_name%></a></td>
    <td>|</td>
    <td><%= group.start_time %></td>
    <td>|</td>
    <td><%= group.price %></td>
    <td>|</td>
    <td><%= group.capacity %></td>
    <td>|</td>
    <td><%= group.booked %></td>
    <td>|</td>
    <td><%= group.membership_needed_check %></td>
    <td>|</td>
    <td>
    <form action="/groupexercises/<%= group.id %>/delete" method="POST">
      <input type="submit" value="delete">
    </form>
    </td>
    <td>
      <form action="/groupexercises/<%= group.id %>/edit" method="get">
        <input type="submit" value="edit">
      </form>
    </td>
  </tr>
  <% end %>
  <% end %>
</table>
