
<table>

  <tr>
    <th></th>
    <th>Time</th>
    <th></th>
    <th>Class</th>
    <th></th>
    <th>Capacity</th>
    <th></th>
    <th>Number Booked</th>
    <th></th>
    <th>Membership</th>
    <th</th>
  </tr>
  <% counter = 0 %>
  <% target = 24 %>


<% while counter <= target %>
<% time_count = "#{counter}:00" %>
<% start_post = "<tr>
  <td></td>
  <td>"%>
  <% table = "
      <td></td>
      <td> 1</td>
      <td>|</td>
      <td> 1</td>
      <td>|</td>
      <td> 1</td>
      <td>|</td>
      <td> 1</td>
      <td>|</td>
      <td> 1</td>
      <td>|</td>
      <td> 1</td>
      <td>|</td>
      <td> 1</td>" %>
<%end_post = "</td></tr>" %>
  <%= p start_post%>
  <td><%=p time_count%></td>
    <% counter += 1%>

  <% for group in @group %>

    <% if group.start_time.include? time_count %>
    <td></td>
    <td><a href="/groupexercises/<%= group.id %>"><%= group.name %></a></td>
    <td>|</td>
    <td><%= group.capacity %></td>
    <td>|</td>
    <td><%= group.booked %></td>
    <td>|</td>
    <td><%= group.membership_needed_check %></td>
    <td>|</td>
    <td>
  <% else %>
    <% p table %>

  <% end %>
  <%= p end_post%>


<% end %>
<% end %>
</table>
