<table>
<tr>

<th>
<h2>Edit
  <%= @groups.name %>
  Class
</h2>
</th>
</tr>
<form action="/groupexercises/<%= @groups.id %>" method="post">

<tr>


    <td><label for="name">Name:</label></td>
    <td><input type="text" name="name" id="name" value="<%= @groups.name %>"/></td>
</tr>
<tr>


    <td>
    <label for="instructor_id">Instructor:</label></td>
      <td><select name="instructor_id" id="instructor_id">
        <% for instructor in @instructors %>
          <option value="<%= instructor.id %>"><%= instructor.format_name %></option>
        <% end %>
      </select>
    </td>
<tr>
  <td>

      <label for="set_date">Date:</label></td>
      <td><input type="date" name="set_date" id="set_date" value="<%= @groups.set_date %>"/>
        </td>
    </tr>

    <tr>
      <td>
      <label for="start_time">Start Time:</label></td>
      <td><input type="time" name="start_time" id="start_time" value="<%= @groups.start_time %>"/></td>
      </tr>
<tr>

<td>
      <label for="price">Price: £</label></td>
      <td><input type="number" name="price" id="price" value="<%= @groups.price %>"/></td>
      </tr>
<tr>

    <td>  <label for="capacity">Capacity:</label> </td>
      <td><input type="number" name="capacity" id="capacity" value="<%= @groups.capacity %>"/></td>
    </tr>
<tr>
    <td><input class="class" type='submit' value="submit"></td>
    <td></form></td>
    </tr>
    </table>
