<h1><%= @group.name %> Class</h1>

<p>Start Time: <%= @group.start_time %></p>

<p>Price: <%= @group.price %></p>

<p>Capacity: <%= @group.capacity %></p>

<a href="/bookings/<%= @group.id %>/new">
  <input type="submit"
  value="Book class"></input>
</a>

<table>
<th>Registered Members:</th>
  <% @group.members.each do |member| %>
  <tr>
    <td><%= member.format_name %></td>
    <td></td>
    <td>
      <form action="/bookings/<%= member.find_booking_id %>/delete" method="POST">
        <input type="submit" value="remove">
      </form>
    </td>


  </tr>
  <% end %>
</table>
