<h2><%= @group.name %> Class</h2>

<p>Instructor: <%=@group.instructor_name%></p>

<p>Start Time: <%= @group.start_time %></p>

<p>Date: <%= @group.set_date.strftime("%d/%m/%Y") %></p>

<p>Price: <%= @group.price %></p>

<p>Capacity: <%= @group.capacity %></p>

<p>Number Booked: <%= @group.booked %></p>

<p>Membership Needed: <%= @group.membership_needed_check  %></p>

<a href="/bookings/<%= @group.id %>/new">
  <input type="submit"
  value="Book on class"></input>
</a>

<table>
<th>Registered Members:</th>
  <% @group.members.each do |member| %>
  <tr>
    <td><a class= "link" href="/groupexercises/<%= member.id %>"><%= member.format_name %></a></td>
    <td></td>
    <td>
      <form action="/bookings/<%= member.find_booking_id %>/delete" method="POST">
        <input type="submit" value="remove">
      </form>
    </td>


  </tr>
  <% end %>
</table>
