<h2>Instructor Profile:</h2>
<p>Name:
  <a href="/instructors"/<%= @instructors.id %>></a><%= @instructors.format_name %></a></p>
<p>Speciality:
  <%= @instructors.speciality %></p>

<table>
  <th>
  <h3>Scheduled Meetings:</h3>
  </th>
    <tr>
      <th>Member Name</th>
      <th></th>
      <th>Time</th>
      <th></th>
    </tr>
    <% if @instructors.members.count == 0 %>
    <% else %>
    <% b = @instructors.members.uniq %>
    <% b.each do |member| %>
    <tr>
        <td><a class= "link" href="/members/<%= member.id %>"><%= member.format_name %></a></td>
        <td>|</td>
        <% a = member.schedules.uniq%>
        <% a.each do |schedule| %>
          <td><%= schedule.meeting_time%></td>
          <td>
            <form action="/schedules/<%= schedule.id %>/delete" method="POST">
              <input type="submit" value="remove">
            </form>
          </td>
          <% end %>
      </tr>
    <% end %>
  <% end %>
</table>

<table>
<% if @instructors.groupexercise.count == 0 %>
<% else %>
<tr>
  <th>
  <h3>Scheduled Classes:</h3>
</th>
</tr>
    <tr>
      <th>Class Name</th>
      <th></th>
      <th>Date</th>
      <th></th>
      <th>Time</th>
      <th></th>
      <th>No. Booked</th>
      <th></th>
    </tr>

    <% @instructors.groupexercise.each do |classes| %>
    <tr>
      <td><a class= "link" href="/groupexercises/<%= classes.id %>"><%= classes.name %></a></td>
      <td>|</td>
      <td><%= classes.set_date %></td>
      <td>|</td>
      <td><%= classes.start_time %></td>
      <td>|</td>
      <td><%= classes.booked %></td>

      <td>
        <form action="/groupexercises/<%= classes.id %>/edit" method="get">
          <input type="submit" value="Change">
        </form>
      </td>
      </tr>
      <% end %>
    <% end %>
</table>
